body
{
	margin:0;
	background-image: url(images/фон.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top;
}


header{
	background-color: white;
}
header nav{
  display: flex;
  justify-content: space-between;
}



header .block1{
  display: flex;
  justify-content: space-between;
  margin-left: 121px;

}

header .block2{
  display: flex;
  justify-content: space-between;
  margin-right: 121px;
}


header .article{
  padding-right: 121px;
  float: left;
  overflow: hidden;
}

button{
  text-decoration: none;
  margin-top: 30px;
}

.article-content {
    display: none;
    position: absolute;
    background-color: rgba(233, 239, 255, 0.8);;
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  background-color: white;
  border: 0px;
  text-transform: uppercase;
	padding-top:15px;
}

.article-content a {
    float: none;
    color: black;
    padding: 10px 14px;
    display: block;
    text-align: left;
    margin-top: 44px;
    border-bottom: 1px solid black;
    margin-left: 45px;
    margin-right: 74px;
    margin-bottom: 35px;
}

.article-content a:hover {

}

.article:hover .article-content {
    display: block;
}

.next1{
  text-decoration: none;
}



header .game{
    padding-right: 99px;
}



header nav a{
  color: #000;
  font-family: 'Montserrat',normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  padding-top: 43px;
  padding-bottom: 22px;
  text-transform: uppercase;
	text-decoration: none;
}


header nav a:hover{
  font-size: 28px;
	text-decoration: none;
  color: #000;
	text-decoration: underline;
}

.main
{
	background:#ffffff;
	width:992px;
	height:5050px;
  margin: auto;
	border:3px solid #7D828B;
}

.text
{
	padding-top:30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
	color: #798BAE;
	width: 800px;
	height: 80px;
	margin:auto;
}

.tetx2
{
	width: 882px;
	height: 90px;
	left: 277px;
	top: 298px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #000000;
	margin:auto;
	text-align: center;
}


.text3
{
	width: 500px;
	height: 60px;
	left: 344px;
	font-family: 'Montserrat', sans-serif;
	top: 1908px;
	font-size: 36px;
	line-height: 44px;

	color: #52668F;
	margin-left: 115px;

}

.text4
{
	width: 917px;
	height: 250px;
	left: 277px;
	top: 437px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left:48px;

}

.zavtrak{
	margin-left: -10vh;
	margin-top: -60px;

}


.type
{
	width: 592px;
	height: 480px;
	margin:auto;

}

.text_
{
	width: 236px;
	height: 60px;
	left: 344px;
	top: 1134px;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #52668F;
	margin-left:132px;
}

.text_2
{
	width: 917px;
	height: 190px;
	left: 277px;
	top: 1219px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left:48px;
}

.type_2
{
	width: 870px;
	height: 550px;
	margin:auto;
	margin-top:17px;
}

.text_3
{
	width: 500px;
	height: 80px;
	left: 344px;
	font-family: 'Montserrat', sans-serif;
	top: 1908px;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #52668F;
	margin-left:115px;

}

.text_4
{
	width: 917px;
	height: 185px;
	left: 277px;
	top: 1988px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left:48px;

}



.type_3
{
	width: 864px;
	height: 520px;
	margin:auto;

}

.text_5
{
	width: 500px;
	height: 70px;
	left: 344px;
	top: 2650px;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #52668F;
	margin-top: 30px;

	margin-left:115px;

}
.yzin_o{
	margin-top:  -120px;
}

.text_6
{
	width: 917px;
	height: 250px;
	left: 277px;
	top: 2729px;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	font-family: 'Montserrat', sans-serif;

	margin-left:48px;
}

.type_4
{
	width: 907px;
	height: 700px;
	margin:auto;
	margin-top:48px;
}



.text_7
{
	font-family: 'Montserrat', sans-serif;

	margin-left:48px;
	width: 917px;
	height: 250px;
	left: 277px;
	top: 3409px;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}

.text_8
{
	width: 917px;
	left: 266px;
	top: 4774px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left:37px;
}


.type_7
{
	width: 776px;
	height: 640px;
	margin:auto;
	margin-top:54px;
}


.text_13
{
	width: 797px;
	height: 65px;
	font-family: 'Montserrat', sans-serif;
	font-size: 44px;
	line-height: 54px;
	color: #798BAE;
	margin:auto;

}

.button
{
	margin:auto;
	margin-top:55px;
	text-align:center;
}

.btm
{
	font-family: 'Montserrat', sans-serif;
	border:3px solid #DFE8F9;
	color:#000000;
	font-size: 44px;
	line-height: 54px;
	text-decoration:none;
	transition:background .1s linear, color .1s linear;
	width: 493px;
	height: 100px;
	padding:20px 68px;
}

.btm:hover
{
	background-color:#DFE8F9;
	color:#000000;
}

.type_8
{
	width: 95px;
	height: 95px;
	margin-left:687px;
	margin-top:-25px;
}

.type_8 {
	animation-name: 'anime';
		/* имя кейфрейма для анимации */
	animation-duration: 300ms;
		/* длительность анимации */
	animation-iteration-count: infinite;
		/* количество повторений, в данном случае - бесконечно */
	animation-direction: alternate;
		/* проигрывать анимацию в прямом и в обратном порядке */
	animation-timing-function: ease-in;
		/* вычисление временных промежутков для анимации, в данном случае анимация ускоряется */
}

@keyframes 'anime' {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1.1) rotate(0deg);
	}
}

.type_8 {
	-webkit-animation-name: 'anime';
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes 'anime' {
	from {
		-webkit-transform: scale(1) ;
	}
	to {
		-webkit-transform: scale(1.1) ;
	}
}

/*underline*/
.footer
{
	background: #FFFFFF;
	height: 207px;
}

.text__line1
{
	display:flex;
	align-items:center;
	justify-content:space-evenly;

	padding-top:44px;
	color: #6D6A6A;
	font-size:  30px;
}

.text__line2
{
	display:flex;
	align-items:center;
	justify-content:space-evenly;

	color: #000000;
	margin-top:19px;
	font-size: 36px;
}

.text_el {
	width:  33vw;
	text-align: center;
}

#pic2
{
	margin:0 35.27px 0 35.27px;
}
